
RewriteEngine on
RewriteCond %{HTTP_HOST} ^fishingchartershomosassa\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.fishingchartershomosassa\.com$
RewriteRule ^/?$ "http\:\/\/fishingcharterhomosassa\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^saltfacecharters\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.saltfacecharters\.com$
RewriteRule ^/?$ "http\:\/\/fishingcharterhomosassa\.com" [R=301,L]

